<h1>📛 <%= @restaurant.name %></h1>
<h3>
  📭 <%= @restaurant.address %>
</h3>
<p>
  <% @restaurant.rating.times do %>
    ⭐️
  <% end %>
</p>
<%= link_to "Delete Restaurant",
  restaurant_path(@restaurant),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<%= link_to "Edit", edit_restaurant_path(@restaurant) %>
